.homepage {
  height: calc(100vh - 5rem);
  margin: 2.5rem;
  background-color: var(--color-dark--1);
  background-size: cover;
  background-position: center;
  padding: 2.5rem 5rem;
}

.homepage section {
  display: flex;
  flex-direction: column;
  height: 85%;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  text-align: center;
}

.homepage h1 {
  font-size: 4.5rem;
  line-height: 1.3;
}

.homepage h2 {
  width: 90%;
  font-size: 1.9rem;
  color: var(--color-light--1);
  margin-bottom: 2.5rem;
}

@media (max-width: 768px) {
  .homepage {
    margin: 1rem;
    padding: 2rem;
  }

  .homepage h1 {
    font-size: 3.5rem;
  }

  .homepage h2 {
    font-size: 1.6rem;
  }

  .cta {
    font-size: 1.4rem;
    padding: 0.8rem 2rem;
  }
}

/* Pour les très petits écrans (téléphones en mode portrait) */
@media (max-width: 480px) {
  .homepage {
    margin: 1rem 0.5rem;
    padding: 1.5rem;
  }

  .homepage h1 {
    font-size: 2.8rem;
  }

  .homepage h2 {
    font-size: 1.4rem;
  }

  .cta {
    font-size: 1.3rem;
    padding: 0.7rem 1.5rem;
  }
}
