.eventList {
  width: 100%;
  height: 65vh;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.eventList::-webkit-scrollbar {
  width: 0;
}

.buttons {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 10px;
  margin: 10px 0;
}
