.event {
  padding: 2rem 3rem;
  max-height: 70%;
  background-color: var(--color-dark--2);
  border-radius: 7px;
  /*overflow: scroll;*/

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.event h6 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--color-light--1);
}

.event h3 {
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.event h3 span {
  font-size: 3.2rem;
  line-height: 1;
}

.event p {
  font-size: 1.6rem;
}

.event a:link,
.event a:visited {
  font-size: 1.6rem;
  color: var(--color-brand--1);
}

.deleteBtn,
.updateBtn,
.checkedBtn {
  height: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  font-size: 1.8rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;
}

.checkedBtn:hover {
  background-color: var(--color-brand--2);
  /*color: var(--color-dark--1);*/
}

.deleteBtn:hover {
  background-color: var(--color-brand--5);
  /*color: var(--color-dark--1);*/
}

.completed {
  background-color: var(--color-brand--2);
}

.updateBtn:hover {
  background-color: var(--color-brand--1);
  /*color: var(--color-dark--1);*/
}

.cta {
  display: flex;
  gap: 10px;
}

.checkedBtn {
  margin-left: auto;
}

.country {
  display: flex;
  align-items: center;
  gap: 10px;
}

.event::-webkit-scrollbar {
  width: 0;
}
